.myrows{
border:3px solid green;

}
.mycols{
border: 3px solid red;

}

.mycontainer{
background-color: aqua;
border: 3px solid red;

}

#topHeader{

background-color: ghostwhite;
border-bottom: 1px solid silver;
}

#topHeader a {
color: #2c3e50;
font-weight: 600;
font-size: 0.89rem;


}
.container-fluid{
padding-left: 0;
padding-right: 0;

}
.imgs{

border-radius: 200px;
}
nav ul li a{

    font-size: 1.1rem;
    font-weight: 600;
}
.name{
    color: lightcoral;
    text-shadow: lightpink;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration-style: double;

}

/* START footer
*/

.full-footer{
    background-color: #34495e;
    
}

.top-footer p {

color: white;

}
.top-footer a {

color: white;
font-weight: 600 ;

}
.top-footer h3 {

color: white;

}
.bottom-footer{

    background-color:rgb(11, 2, 36);
}
.bottom-footer p {

    color: white;
}

/* END footer
*/
/*start : Home page first hero section*/
.top-hero{

background-color: #3498db;
color: white;
}
.top-hero a {

color: white;
}
.scale{

width: 100px;
}

/*end : Home page first hero section*/
/*start : Home page 3rd hero section*/
.requirements{

background-color: #004d80;
color: white;
    
}
/*end : Home page 3rd hero section*/
/*start : Home page 3rd hero section*/
.newsletter{

background-color: #004d80;
color: white; 
}
.newsletter .form-control{
height: 50px;
border-color: transparent;
border-radius: 20px 0 0 20px;
}
.newsletter .btn{
min-height: 50px;
border-radius: 0 20px 20px 0;
background: rgb(199, 22, 96);
color: #fff;  
}
/*end : Home page 3rd hero section*/
/*Start : Home page 7rd hero section*/
.client{
background-color: #f0f0f0;

}
/*End : Home page 7rd hero section*/
/*END OF MAIN PART*/
/*START OF ABOUT US*/
.breadscrums-section{
    background-color: #e9ecef;
}
.health-img{

    width: 150px;
}
/*END OF ABOUT US*/
/*START OF CONATCT US*/
.address p{
    font-weight: 600;
}
/*END OF CONATCT US*/
.bar{

    color:white;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 17px;
    border: 1px solid rgb(24, 34, 44);
}